.nav{
    display: flex;
    justify-content: space-between;
}
 .btn-1{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 25px;
}
body{
    margin: 50px;
    background-color:whitesmoke;
}
header{
    margin: 50px;
}
#banar{
    display: flex;
    margin: 50px;
    padding: 30px;
    justify-content: space-between;
    background-color: rgba(127, 255, 212, 0.181);
    border-radius: 20px;
}
.banar-contain h1{
font-size: 60px;
font-weight: 600;
}
 .banar-img{
    padding-right: 50px;
}
.btn-2{
    background-color: #046A38;
    padding: 10px 25px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
#pillar{
    margin: 30px;
    display: flex;
    justify-content: space-around;
}
.box-1{
    background-color:white;
    padding: 10px;
    border-radius: 10px;
}
#future{
    margin: 50px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 25px;
    
}
.future-1{
    height: 250px;
    width: 250px;
    background-color: blanchedalmond;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 20px rgba(128, 128, 128, 0.196);
    
}

.fbtn-1{
    background-color: #046a399e;
    padding: 8px 15px;
    color: rgba(255, 255, 255, 0.979);
    font-size: 16px;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
}
.fbtn-2{
    background-color:gray;
    padding: 8px 15px;
    color: rgba(255, 255, 255, 0.979);
    font-size: 16px;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
}
.fbtn-3{
    background-color: blueviolet;
    padding: 8px 15px;
    color: rgba(255, 255, 255, 0.979);
    font-size: 16px;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
}
.future-2{
      
    height: 250px;
    width: 250px;
     background-color: cornsilk;
    padding: 20px;
    border-radius: 10px;
     box-shadow: 10px 10px 20px 20px rgba(128, 128, 128, 0.196);
}
.future-3{
    height: 250px;
    width: 250px;
     background-color: rgba(244, 165, 96, 0.253);
    padding: 20px;
    border-radius: 10px;
     box-shadow: 10px 10px 20px 20px rgba(128, 128, 128, 0.196);
}
.quotion{
    margin: 100px;
    background-color: white;
    height: 200px;
    padding: 20px;
    border-radius: 18px;
}
.news-1{
    display: flex;
    margin: 50px 100px 50px 100px;
    justify-content: space-between;
    background-color: white;
}
.news-img{
    padding: 30px;
    border-radius: 20px;
    border: none;
   
}
.nwes-contain-1{
    padding: 20px;
}
.nbtn-4{
    background-color: #046A38;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.news-2{
    display: flex;
    border: #046A38 solid 1px;
    margin: 50px 100px 50px 100px;
    justify-content: space-around;
}
.news-img{
    padding: 30px 0px 10px 20px;
    border-radius: 20px;
    border: none;
   
}
.nwes-contain-2{
  padding: 20px;
    border: 1px solid red;
    width: 40%;
    }