.nav{
    display: flex;
    justify-content: space-between;
}
 .btn-1{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 25px;
}
*body{
    margin: 50px;
    background-color: aliceblue;
}
header{
    margin: 50px;
}
#banar{
    display: flex;
    margin: 50px;
    padding: 30px;
    justify-content: space-between;
    background-color: rgba(127, 255, 212, 0.181);
    border-radius: 20px;
}
.banar-contain h1{
font-size: 60px;
font-weight: 600;
}
 .banar-img{
    padding-right: 50px;
}
.btn-2{
    background-color: #046A38;
    padding: 10px 25px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}